canvas#game_canvas {
	padding-left: 0;
	padding-right: 0;
	display: block;
	width: 100%;
	max-height: 83vh;
	background-color: rgba(255, 255, 255, 0);
}

@media (min-width: 1370px) {
	canvas#game_canvas {
		width: auto;
		margin: auto;
	}
}

#game_footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#rotate {
	display: flex;
}

#reset_rotation {
	margin: auto;
	margin-left : 2%;
}

#centered_box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	user-select: none;
}

#game_status {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#game_status h2 {
	font-size: 1.5em;
}

#game_status li {
	font-size: 1.2em;
	margin-top: 0.4em;
}

#timer {
	position: absolute;
	top: 30vh;
	left: 43vw;
	text-align: center;
	font-size: 15em;
	z-index: 1;
}

@media (orientation: portrait) and (max-width: 600px) {
	h1 {
		display: none;
	}

	canvas#game_canvas {
		width: 100%;
		margin: 0;
	}
}
