#tournament_info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	gap: 2vh 0;
}

#round_map, #pool_map, #round_headers{
	gap: 0.5vh 1vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40vw;
	min-width: 350px;
}

.header {
	min-width: 3vw;
	max-width: 9vh;
	width: 8vw;
	text-align: center;
}

.round,  #rounds, #pools {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.current_round {
	border-radius: 10px;
}

.current_round img {
	cursor: pointer;
}

.round img {
	width: 8vw;
	max-width: 9vh;
	min-width: 3vh;
	filter: opacity(50%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

.current_round img:hover {
	filter: opacity(100%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

#map {
	width: 15vw;
	filter: opacity(100%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

.tournament	 {
	gap: 5vh;
}

.players {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center {
	gap : 4vh;
}

.side {
	gap: 7vh;
	width: 13vh;
	max-width: 15vw;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1vh;
}

.player img {
	width: 3vw;
	max-width: 4vh;
	min-width: 3vh;
	filter: none;
	border-radius: 50px;
}

#winner img { 
	width: 9vw;
	max-width: 12vh;
	min-width: 5vh;
	border-radius: 100px;
	filter: none;
}


#local_rounds,
.round_style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

#local_rounds_map {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	align-content: center;
	flex-wrap: nowrap;
	overflow-x: auto;
	gap: 2vw;
	padding: 0 0 2vh 0;
	cursor: pointer;
}

#local_rounds_map img {
	width: 8vw;
	max-width: 9vh;
	min-width: 3vh;
	filter: opacity(50%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

#local_rounds_map .current_round img {
	filter: opacity(100%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

#local_rounds_map img:hover {
	filter: opacity(100%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

#local_rounds_map::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: var(--border-light);
}

#local_rounds_map::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--transparent-dark);
}

#local_rounds_map::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--transparent-primary);
}

#next_game {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10vw;
	flex-wrap: nowrap;
}

.local_tournament_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2vh;
	margin: 1vh auto;
	padding: 2em;
	border-radius: 10px;
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);
	width: 100%;
	align-items: center;
}

.local_tournament_box h1 {
	font-weight: 700;
	text-align: center;
	color:var(--primary-color);
	line-height: 1.5;
}

.local_tournament_box h2 {
	font-weight: 700;
	text-align: center;
	color:var(--light);
}


#player_1, #player_2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

table #crown {
	display: inline-block;
	vertical-align: middle;
	width: 1.5vh;
	height: 1.5vh;
	filter: invert(80%) sepia(74%) saturate(1710%) hue-rotate(354deg) brightness(99%) contrast(94%);
}