.home_button {
	padding: 1vh;
	border-radius: 10px;
	font-weight: 700;
	color: var(--light);
	border: var(--light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);
	width: 100%;
}

form button {
	margin: inherit;
	padding: 1vh;
	font-weight: 700;
	border-radius: 10px;
	background-color: var(--primary-color);
	color: var(--light);
	border: none;	
}

