.home_button {
	padding: 1vh;
	border-radius: 10px;
	font-weight: 700;
	color: #dedede;
	border: #dedede 1px solid;
	backdrop-filter: blur(4px);
	background-color: rgba(31, 31, 31, 0.4);
	width: 100%;
}

form button {
	margin: inherit;
	padding: 1vh;
	font-weight: 700;
	border-radius: 10px;
	background-color: #7b74ff;
	color: white;
	border: none;	
}

