/* header */

header {
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);
	position: sticky;
	top: 0;
	z-index: 3;
}

header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	cursor: url('/front/ressources/img/png/luffy_small.png'), auto;
}

header li a:hover,
header .menu-btn:hover {
	backdrop-filter: blur(4px);
	background-color: var(--transparent-primary);
}

header .logo {
	display: block;
	float: left;
	font-size: 1.6em;
	font-weight: 700;
	padding: 16px 30px;
	align-self: center;
	text-decoration: none;
	cursor: url('/front/ressources/img/png/luffy_small.png'), auto;

}

/* menu */

header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */

header .menu-icon {
	float: right;
	cursor: pointer;
	padding: 28px 30px;
	position: relative;
	user-select: none;
}

header .menu-icon .navicon {
	background: var(--light);
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
	background: var(--light);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

header .menu-icon .navicon:before {
	top: 5px;
}

header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

header .menu-btn {
	display: none;
}

		header .menu-btn:checked ~ .menu {
			max-height: 300px;
		}

		header .menu-btn:checked ~ .menu-icon .navicon {
			background: transparent;
		}

		header .menu-btn:checked ~ .menu-icon .navicon:before {
			transform: rotate(-45deg);
		}

		header .menu-btn:checked ~ .menu-icon .navicon:after {
			transform: rotate(45deg);
		}

		header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
		header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
			top: 0;
		}

/* 48em = 768px */

@media (min-width: 48em) {
	header li {
	float: left;
	}
	header li a {
	padding: 20px 30px;
	}
	header .menu {
	clear: none;
	float: right;
	max-height: none;
	}
	header .menu-icon {
	display: none;
	}
}

.notification-dot {
	display: none;
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 50%;
	margin-left: 5px; /* Adjust as needed for positioning */
}