*{
	font-family: "Comfortaa", sans-serif;
	color: #dedede;
	background-color: #1f1f1f;
	margin: 0;
}

::selection {
	background-color: #dedede !important;
	color: #7b74ff !important;
}

header {
	margin: 1em 1em;
	padding: 1em 1em;
	position: sticky;
	top: 0;
	background-color: #1f1f1f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

header a{
	text-decoration: none;
	/* cursor: pointer; */
	cursor: url('/front/ressources/img/png/luffy_small.png'), auto;
}

.site_name {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.site_name img {
	width: 40px;
	height: 40px;
}

h1.linear_gradient {
	font-size: 1.6em;
	background: -webkit-linear-gradient(0.5turn, #7b74ff, #4d00ff);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav {
	justify-content: space-between;
}

nav a {
	text-decoration: none;
}

.dropdown-content {
	padding-top: 1em;
	display: none;
	position: absolute;
	background-color: #202020;
	min-width: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
}

.dropdown-content a {
	border-radius: 10px;
	font-size: small;
	float: none;
	color: dedede;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }

  .dropdown-content a:hover {
	background-color: #7b74ff;
  }

  .dropdown:hover .dropdown-content {
	  display: block;
	}

.home_menu {
	margin: 15vh auto;
	text-align: center;
	max-width: 320px;
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}

.home_button {

	padding: 1vh;
	border-radius: 10px;
	font-weight: 700;
	color: #dedede;
	border: #dedede 1px solid;
}


.sign_up {
	margin: 10vh auto;
	text-align: center;
	max-width: 320px;
	display: grid;
	grid-template-rows: 1fr 1fr;
}


.sign_up h1 {
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	color:#7b74ff;
}

.sign_up h2{
	line-height: 1.1;
	font-size: 1em;
	margin: 2vh;
	line-height: 150%;
	color: #dedede;
}


form {
	align-self: center;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 1vh;
	min-width:100%;
}

form label {
	color: #dedede;
	font-size: small;
	margin-top: 1vh;
	margin-left: 1vh;
	padding-top: 1vh;
}

form input {
	margin: 1vh;
	padding: 1vh;
	border-radius: 10px;
	border: 1px solid #dedede;
}

form input::selection{
	border: none;
	color: #7b74ff;
}

form button {
	margin: inherit;
	padding: 1vh;
	border-radius: 10px;
	background-color: #7b74ff;
	font-weight: 700;
	color: white;
	border: none;
}

#google-auth-btn {
	color: black;
	background-color: white;
	white-space: nowrap;
}

#google-auth-btn span {
	background-color: white;
	margin-right: -0.3em;
}

#forty2-auth-btn {
	color: white;
	background-color: #12141a;
}

#forty2-auth-btn span {
	color: #18b9bb;
	background-color: #12141a;
}

.profile {
	margin: 5vh 10vw ;
	align-self: center;
	display: grid;
}

footer {
	height: 4%;
	position: static;
	bottom: 0;
	margin: 1em 2em;
	padding: 1em 1em;
	border-top: #868686 0.5px solid;
	font-size: small;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

footer strong {
	color: #7b74ff;
	font-weight: 700;
	margin-bottom: 10px;
}

footer p {
	color: #868686;
}
