#tournament_info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	gap: 2vh 0;
}

#round_map, #pool_map, #round_headers{
	gap: 0.5vh 1vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40vw;
	min-width: 350px;
}

.header {
	min-width: 3vw;
	max-width: 9vh;
	width: 8vw;
	text-align: center;
}

.round,  #rounds, #pools {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.current_round {
	border-radius: 10px;
}

.current_round img {
	cursor: pointer;
}

.round img {
	width: 8vw;
	max-width: 9vh;
	min-width: 3vh;
	filter: opacity(50%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

.current_round img:hover {
	filter: opacity(100%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

#map {
	width: 15vw;
	filter: opacity(100%) invert(40%) sepia(73%) saturate(1183%) hue-rotate(218deg) brightness(104%) contrast(101%);
}

.tournament	 {
	gap: 5vh;
}

.players {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center {
	gap : 4vh;
}

.side {
	gap: 7vh;
	width: 13vh;
	max-width: 15vw;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1vh;
}

.player img {
	width: 3vw;
	max-width: 4vh;
	min-width: 3vh;
	filter: none;
	border-radius: 50px;
}

#winner img { 
	width: 9vw;
	max-width: 12vh;
	min-width: 5vh;
	border-radius: 100px;
	filter: none;
}