.me {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 15vw;
	gap: 5vh;
}

.profile_info {
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 60vh;
	padding: 5vh;
	border-radius: 10px;
	text-align: left;
	justify-content: left;
	gap: 2em;
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);
	flex-wrap: wrap;
	text-wrap: wrap;
	overflow-wrap: break-word;
	word-break: break-all;
	inline-size: 20vw;
}

input[type="profile-password" i] {
	-webkit-text-security: disc !important;
	padding-block: 1px;
	padding-inline: 2px;
	width: 8vw;
	display: none;
}

.small_avatar_img {
	width:5vh;
	height:5vh;
	border-radius: 100px;
}

.player-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px; /* Add some margin between items */
}

.player-item span,
.player-item img {
	margin-right: 10px; /* Add a small margin between elements */
}

.avatar_img {
	width:10vh;
	height:10vh;
	border-radius: 100px;
}

.user_avatar {
	width:10vh;
	height:10vh;
	border-radius: 100px;
}

/* .avatar_img:hover {
	filter: opacity(50%);
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
} */

.center_profile {
	width: 20vw;
	display: flex;
	justify-content: center;
}

.profile_info_box {
	height: 80%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: space-around;
}

.profile_table {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

.icon_svg {
	height: 2.5vh;
	filter: invert(45%) sepia(41%) saturate(1521%) hue-rotate(213deg) brightness(100%) contrast(109%);
}

.history_stats {
	display: flex;
	flex-direction: column;
	width: 40vw;
	padding: 5vh;
	border-radius: 10px;
	text-align: left;
	justify-content: left;
	gap: 2em;
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);

	/* overflow-wrap: break-word; */
	/* word-break: break-all; */
	inline-size: 40vw;
}

.history {
	gap: 2vh;
	display: flex;
	flex-direction: column;
	max-height: 400px;
	min-width: 250px;
	height: 60%;
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);
	overflow-wrap: anywhere;
	padding: 2vh;
}

.history_table {
	height: 80%;
	overflow-y: scroll;
	overflow-wrap: anywhere;
}

.history_table::-webkit-scrollbar {
	display: none;
}


  table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
  }
  
  thead th:nth-child(1) {
	width: 10%;
  }
  
  thead th:nth-child(2) {
	width: 30%;
  }
  
  thead th:nth-child(3) {
	width: 30%;
  }
  
  thead th:nth-child(4) {
	width: 30%;
  }
  
  td {
	padding: 1vh;

  }
  th {
	backdrop-filter: blur(4px);
	background-color: var(--transparent-primary);
	top: 0;
	position: sticky;
	padding: 1vh;
  }

.stats {
	display: flex;
	flex-direction: column;
	height: 30%;
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(4px);
	background-color: var(--transparent-dark);
	padding: 2vh;
	line-height: 2em;
}

.stats_table {
	padding: 0.5vh;

}

.avatar-container {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--transparent-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 1em;
	/* font-style: italic; */
	text-decoration: underline;
	border-radius: 100px;
	cursor: pointer;
	pointer-events: none; /* Ensures the overlay doesn't interfere with clicks on the avatar */
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.avatar-container.edit-mode .overlay {
	opacity: 1; /* Show overlay when in edit mode */
}

.game-box {
	position: absolute;
	top: 25%;
	left: 60%;
	width: 30vw;
	height: 30vh;
	max-width: 40vw;
	padding: 3vh;
	border-radius: 10px;
	text-align: left;
	overflow-y: auto;
	border: var(--border-light) 1px solid;
	backdrop-filter: blur(5px);
	background-color: var(--transparent-darker);
	color: var(--light);
	z-index: 999;
	max-height: 80vh;
}


.game-box::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: var(--border-light);
}

.game-box::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--transparent-dark);
}

.game-box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--transparent-primary);
}

.box-title {
	padding: 1vh;
}