.me {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 15vw;
	gap: 5vh;
	font-size: 1.1em;
}

.profile_info {
	display: flex;
	flex-direction: column;
	width: 20vw;
	padding: 5vh;
	border-radius: 10px;
	text-align: left;
	justify-content: left;
	gap: 2em;
	border: rgba(222, 222, 222, 0.05) 1px solid;
	backdrop-filter: blur(4px);
	background-color: rgba(31, 31, 31, 0.4);
	flex-wrap: wrap;
	text-wrap: wrap;
	overflow-wrap: break-word;
	word-break: break-all;
	inline-size: 20vw;
}

.avatar_img {
	width: 6vw;
	border-radius: 100px;
}

.center_profile {
	width: 20vw;
	display: flex;
	justify-content: center;
}

.profile_info_box {
	height: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.profile_table {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

.icon_svg {
	height: 2.5vh;
	filter: invert(45%) sepia(41%) saturate(1521%) hue-rotate(213deg) brightness(100%) contrast(109%);
}

.history_stats {
	display: flex;
	flex-direction: column;
	width: 40vw;
	padding: 5vh;
	border-radius: 10px;
	text-align: left;
	justify-content: left;
	gap: 2em;
	border: rgba(222, 222, 222, 0.05) 1px solid;
	backdrop-filter: blur(4px);
	background-color: rgba(31, 31, 31, 0.4);

	overflow-wrap: break-word;
	word-break: break-all;
	inline-size: 40vw;
}

.history {
	gap: 2vh;
	display: flex;
	flex-direction: column;
	max-height: 400px;
	min-width: 250px;
	height: 60%;
	border: rgba(222, 222, 222, 0.05) 1px solid;
	backdrop-filter: blur(4px);
	background-color: rgba(31, 31, 31, 0.4);
	padding: 2vh;
}

.history_table {
	height: 80%;
	overflow-y: scroll;
}

.history_table::-webkit-scrollbar {
	display: none;
  }

  table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
  }
  
  thead th:nth-child(1) {
	width: 10%;
  }
  
  thead th:nth-child(2) {
	width: 30%;
  }
  
  thead th:nth-child(3) {
	width: 30%;
  }
  
  thead th:nth-child(4) {
	width: 30%;
  }
  
  td {
	padding: 1vh;

  }
  th {
	backdrop-filter: blur(4px);
	background-color: rgba(123, 116, 255, 0.6);
	top: 0;
	position: sticky;
	padding: 1vh;
  }

.stats {
	display: flex;
	flex-direction: column;
	height: 30%;
	border: rgba(222, 222, 222, 0.05) 1px solid;
	backdrop-filter: blur(4px);
	background-color:  rgba(31, 31, 31, 0.4);
	padding: 2vh;
	line-height: 2em;
}

.stats_table {
	padding: 0.5vh;

}
